.App {
  text-align: center;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 150px;
  height: 500px;
}

.tableContainer {
  width: 45%;
  /* position: sticky; */
  top: 0;
}